@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap") layer(base);

@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-outfit: Outfit, sans-serif;

  --breakpoint-*: initial;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --text-title-2xl: 72px;
  --text-title-2xl--line-height: 90px;
  --text-title-xl: 60px;
  --text-title-xl--line-height: 72px;
  --text-title-lg: 48px;
  --text-title-lg--line-height: 60px;
  --text-title-md: 36px;
  --text-title-md--line-height: 44px;
  --text-title-sm: 30px;
  --text-title-sm--line-height: 38px;
  --text-theme-xl: 20px;
  --text-theme-xl--line-height: 30px;
  --text-theme-sm: 14px;
  --text-theme-sm--line-height: 20px;
  --text-theme-xs: 12px;
  --text-theme-xs--line-height: 18px;

  --color-brand-25: #f2f7ff;
  --color-brand-50: #ecf3ff;
  --color-brand-100: #dde9ff;
  --color-brand-200: #c2d6ff;
  --color-brand-300: #9cb9ff;
  --color-brand-400: #7592ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;
  --color-brand-700: #2a31d8;
  --color-brand-800: #252dae;
  --color-brand-900: #262e89;
  --color-brand-950: #161950;

  --primary-color: #238BE6;
  --primary-color-text: #ffffff;
  --primary-color-border: #DEE2E6;
}

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  a:not(:disabled),
  [role="button"]:not(:disabled) {
    text-decoration: none;
    cursor: pointer;
  }
}

@utility menu-item {
  @apply text-theme-sm relative flex items-center gap-3 rounded-lg rounded-r-none h-15 px-3 py-2 font-medium;
}

@utility menu-item-active {
  @apply bg-[#4B164C] text-[#FFFFFF];
}

@utility menu-item-inactive {
  @apply text-gray-700 hover:bg-[#BA9EBB85] hover:text-gray-700;
}

@utility menu-item-icon-active {
  @apply stroke-white fill-white;
}

@utility menu-item-icon-inactive {
  @apply fill-[#4B164C] group-hover:fill-[#4B164C];
}

@utility menu-item-arrow {
  @apply absolute top-1/2 right-2.5 -translate-y-1/2;
}

@utility menu-item-arrow-active {
  @apply stroke-brand-500;
}

@utility menu-item-arrow-inactive {
  @apply stroke-gray-500 group-hover:stroke-gray-700;
}

@utility menu-dropdown-item {
  @apply text-theme-sm relative flex items-center gap-3 rounded-lg px-3 py-2.5 font-medium;
}

@utility menu-dropdown-item-active {
  @apply bg-brand-50 text-brand-500;
}

@utility menu-dropdown-item-inactive {
  @apply text-gray-700 hover:bg-gray-100;
}

@utility menu-dropdown-badge {
  @apply text-brand-500 block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase;
}

@utility menu-dropdown-badge-active {
  @apply bg-brand-100;
}

@utility menu-dropdown-badge-inactive {
  @apply bg-brand-50 group-hover:bg-brand-100;
}

@utility no-scrollbar {

  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-200;
  }
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #344054;
}

@layer base {
  body {
    @apply font-outfit relative z-1 bg-gray-50 text-base font-normal;
  }
}

@layer utilities {

  /* For Remove Date Icon */
  input[type="date"]::-webkit-inner-spin-button,
  input[type="time"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.sidebar:hover {
  width: 290px;
}

.sidebar:hover .logo {
  display: block;
}

.sidebar:hover .logo-icon {
  display: none;
}

.sidebar:hover .sidebar-header {
  justify-content: space-between;
}

.sidebar:hover .menu-group-title {
  display: block;
}

.sidebar:hover .menu-group-icon {
  display: none;
}

.menu-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sidebar:hover .menu-item-text {
  display: inline;
}

.sidebar:hover .menu-item-arrow {
  display: block;
}

.sidebar:hover .menu-dropdown {
  display: flex;
}

.tableCheckbox:checked~span span {
  @apply opacity-100;
}

.tableCheckbox:checked~span {
  @apply border-brand-500 bg-brand-500;
}

.peacechat {

  .p-paginator-page,
  .p-paginator-next,
  .p-paginator-last,
  .p-paginator-prev,
  .p-paginator-first {
    @apply w-12 h-8 rounded-[10px];
  }

  .p-paginator-page.p-paginator-page-selected {
    @apply text-(--primary-color) bg-(--primary-color)/20;
  }

  .p-select {
    @apply h-9.75 items-center outline-none;
  }

  .p-select:not(.p-disabled).p-focus {
    @apply outline-none border-(--primary-color);
  }

  .p-select-option.p-select-option-selected,
  .p-select-option.p-select-option-selected.p-focus {
    @apply text-(--primary-color) bg-(--primary-color)/20;
  }

  .p-tab-active {
    @apply text-(--primary-color) border-(--primary-color);
  }

  .p-tablist-active-bar {
    @apply bg-(--primary-color);
  }

  .tab-with-action {
    @apply flex justify-between border-b border-b-(--primary-color-border)
  }

  .tab-with-action .p-tablist-tab-list {
    @apply border-none
  }

}
