<aside class="sidebar fixed left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden border-r border-gray-200 bg-white pl-5 lg:static lg:translate-x-0 -translate-x-full">
  <div class="flex items-center gap-2 pt-8 sidebar-header pb-7 justify-start">
    <a href="/dashboard">
      <span class="logo">
        <img src="/images/logo/logo.svg" alt="Logo" />
      </span>
    </a>
  </div>

  <div class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar">
    <nav>
      <ul class="flex flex-col gap-4 mb-6">
        <li *ngFor="let item of menu">
          <a [routerLink]="item.route" class="menu-item group" [class]="isRouteActive(item.route) ? 'menu-item-active' : 'menu-item-inactive'">
            <div class="p-2 w-8 h-8 flex items-center justify-center bg-[#B798B8] rounded-lg">
              <span [innerHTML]="sanitizeIcon(item.icon)" [class]="isRouteActive(item.route) ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"></span>
            </div>
            <span class="menu-item-text">
              {{item.name}}
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
